.btn-instagram {
    background-color: #ffffff;
    color: #E1306C;
    border-color: #E1306C;
}

.btn-instagram:hover {
    background-color: #E1306C;
    border-color: #ffffff;
    color: #ffffff
}

.container {
    max-width: 100%;
}

.description {
    font-size: 1.25rem;

}

.cont-descr {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.zoom {
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233);
}

#map {
    height: 500px;
    max-width: 80%;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.233);
}


.directions-btn {
    background-color: #1abc9c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
}

.directions-btn:hover {
    background-color: #16a085;
}

.arrow-icon {
    margin-right: 8px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}


@media (max-width: 700px) {
    .description {
        font-size: large;
    }
}