.container {
    max-width: 100%;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
}

.card-header .nombre {
    font-size: 24px;
    color: #000000;
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

.card img {

    max-height: 80px;
    max-width: 100px;
    margin-right: 20px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);

}

.card-body .descripcion {
    font-family: 'Signika Negative';
    color: #666;

}

.card-footer {
    background-color: #f9f9f9;
    font-family: 'Signika Negative';

}

.card-list .card p {
    text-align: justify;
    font-size: medium;
}



.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    font-size: 16px;
}

.search-buttons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.btn-traer {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.btn-traer:hover {
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff
}

.textoSearch {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    color: gray;
    margin-bottom: 30px;
}

.botonSearch {
    justify-content: center;
    font-size: 1.2em;
    color: rgb(145, 19, 19);
    margin-top: 0.6em;
    margin-left: 0.6em;
    
}

.zoom {
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
    cursor: pointer;


}

.zoom2 {
    transition: transform 0.5s ease;
}

.zoom2:hover {
    transform: scale(1.1);
    color: red;
    cursor: pointer;
}

.cardCat {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.cardCat:last-child {
    margin-right: 0;
}

.cardCat {
    cursor: pointer;
    text-align: center;
    display: flex;
    border-radius: 8px;
    background: #fff;
    align-items: center;
    max-width: 11em;
    height: 11em;

}

.cardCat-body {

    padding: 10px;
    overflow: hidden;
}

@media (max-width: 800px) {
    .container {
        zoom: 70%;

    }
}

.cardCat-title {
    margin: 10px;
    padding: 0;
}

.cardCat-text {
    font-size: 2.0em;
    margin-top: 20px;

}

.cardCat.active {
    background-color: #170bcde5;
    color: rgb(0, 0, 0);

}

.cardCat-text.active {
    color: rgb(255, 255, 255);
}

.cardCat-title.active {
    color: rgb(255, 255, 255);
}

.card-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin-bottom: 3em;
    padding-bottom: 10px;
}


.descripcion {
    overflow: hidden;
    text-overflow: ellipsis;
}

.descripcion.expanded {
    white-space: normal;
}

.read-more-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
    border: none;
    background-color: #0069d9;
    color: #ffffff;
    margin-left: 5px;

}

.read-more-btn:hover {
    font-size: large;
}