<div class="carousel-title text-center" [@fade] style="display: flex; align-items: center; justify-content: center; background-color: #031654; margin-top: 0; color: 
    #ffffff; font-weight: lighter; padding: 10px; 
        border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
">
    <i class="fa-solid fa-shop" style="margin-right: 0.5em;"></i>
    <h1 [@fade] style="text-align: center; margin: 0; font-size: 2rem; line-height: 1.2;">
        Lista de negocios
    </h1>
</div>
<hr class="separador">

<div class="container" [@fade]>
    <div style="text-align: center;">
        <div class="search-container"
            style="background-color: rgba(62, 63, 63, 0.164); display: inline-flex; margin: 0 auto; padding: 10px;">
            <div class="search-buttons">
                <button class="btn btn-traer zoom btn-s" (click)="verTodos()">Traer todos</button>
            </div>

            <div class="search-bar zoom3">
                <input type="text" placeholder="¿Buscas algo?" [(ngModel)]="busqueda"
                    (ngModelChange)="buscarNegocios()" />
            </div>
            <i class="fa-solid fa-magnifying-glass fa-beat zoom2 botonSearch" (click)="buscarNegocios()"></i>
        </div>
    </div>


    <p class="textoSearch" style="text-align: center; margin-top: 10px;">Puedes ingresar una palabra, frase, nombre o
        loque sea que estés buscando!</p>

    <div class="row ">
        <div class="col-sm-12">
            <div class="card-group container-fluid ">
                <div class="cardCat zoom6 " [ngClass]="{'active': categoriaActiva === -1}"
                    (click)="setCategoriaActiva(-1); buscarEventos('')">
                    <div class="cardCat-body">
                        <p class="cardCat-text"><i class="fas fa-shopping-cart"></i> </p>
                        <h5 class="cardCat-title" [ngClass]="{'active': categoriaActiva === -1}">Ver Todos</h5>
                    </div>
                </div>
                <div class="cardCat zoom6" *ngFor="let categoria of categorias; let i = index"
                    [ngClass]="{'active': categoriaActiva === i}"
                    (click)="setCategoriaActiva(i); buscarEventos(categoria.nombre)">
                    <div class="cardCat-body">
                        <i class="{{ categoria.icono }} cardCat-text" [style.color]="categoria.color"
                            [ngClass]="{'active': categoriaActiva === i}"></i>
                        <h6 class="cardCat-title" [ngClass]="{'active': categoriaActiva === i}">{{
                            categoria.nombre }}</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="card-list">
        <div class="card" (click)="goToDetailNegocios(negocio.id)" *ngFor="let negocio of negocios">
            <div class="card-header">
                <img class="logo" [src]="negocio.logo" alt="Logo de {{negocio.nombre}}" />
                <h2 class="nombre">{{negocio.nombre}}</h2>
            </div>
            <div class="card-body">
                <p class="descripcion" [ngClass]="{'expanded': negocio.expanded}">
                    <span [innerHTML]="getLimitedDescription(negocio)"></span>
                    <button *ngIf="shouldShowReadMore(negocio)" class="read-more-btn"
                        (click)="toggleDescription(negocio); $event.stopPropagation()">
                        {{ negocio.expanded ? 'Ver menos' : 'Ver más' }}
                    </button>
                </p>

            </div>
            <div class="card-footer">
                {{negocio.direccion}}
                <span class="icono"><i class="bi bi-pin-map-fill"></i></span>
            </div>
        </div>
    </div>

</div>


<hr style="color: white;">
<hr style="color: white;">
<hr style="color: white;">
<hr style="color: white;">