.carousel-title h1 {
    font-size: 32px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 5px;

    font-family: cursive;
    background-color: #bbb9b954;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: #333;
}

.table th {
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

.table tbody tr:hover td {
    background-color: #f2f2f2;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table-title {
    text-align: center;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: rgba(89, 0, 255, 0.637);
    color: white;
}

.table-title {

    background-color: rgba(117, 132, 212, 0.219);
    padding:5px
}



.caption {
    text-align: center;
    display: block;
    margin: auto;
    text-align: center;
    font-size: large;

}

.container{
    zoom: 70%;
}