.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: #333;
}

.table th {
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    color: blue;
}

.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

.table tbody tr:hover td {
    background-color: #f2f2f2;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table-title {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(117, 132, 212, 0.219);
    padding: 5px
}

.bg-primary {
    background-color: rgba(89, 0, 255, 0.637);
    color: white;
}


.caption {
    text-align: center;
    display: block;
    margin: auto;
    text-align: center;
    font-size: large;

}


.contenedor {
    width: 100%;
}

@media (max-width: 800px) {
    .contenedor {
        zoom: 50%;
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
}

.emergency-section {
    text-align: center;
    padding: 2rem 0;
    background-color: #f8f9fa;
}

.emergency-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.emergency-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.emergency-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s;
}

.emergency-card:hover {
    transform: translateY(-5px);
}

.emergency-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.fa-fire {
    color: #f70505;
}

.fa-shield {
    color: #2f80ed;
}

.fa-hospital {
    color: #10ac84;
}

.fa-person-military-pointing {
    color: #f39405;
}

.fa-fire-extinguisher {
    color: #e74c3c;
}

.phone-link {
    color: inherit;
    text-decoration: none;
}

.phone-link:hover {
    text-decoration: underline;
}

.phone-btn {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(40, 26, 238);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s;
    align-items: center;
    border: 1px solid #0069d9;
}

.phone-btn:hover {
    background-color: #0069d9;
    color: #ffffff;
}

.phone-btn i {
    margin-right: 8px;
}

.emergency-card .fa {
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}