.nav-link {
    color: #000000;
    font-weight: bold;
    width: auto;
    height:100%;
    font-size: small;
    
    
}

.nav-link.active {
    color: #f50404a2;
     
}

.nav-item {
    width: 100%;
    height: fit-content;
    text-align: center;
    
}

.navbar {
    background-color: #cac5c5d5;
    padding-top: 0%;
    padding-bottom: 0%;
    
        
}

.bi.active {
    color: rgb(255, 0, 0);
    margin-right: 5%;
}


.navbar-icon {
    display: block;
    font-size: 1.0rem;
    margin-bottom: 0.0rem;
}

.zoom {
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.322);
}

