<nav class="navbar fixed-bottom navbar-expand-lg navbar-expand-sm navbar-sm" >
  <ul class="nav nav-tabs justify-content-center flex-nowrap" style="width: 100%">
    <li class="nav-item zoom">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="bi bi-house navbar-icon"  style="display: block;"></i>
        Inicio
      </a>
    </li>
    <li class="nav-item zoom">
      <a class="nav-link" routerLink="/negocios" routerLinkActive="active">
        <i class="bi bi-search navbar-icon" style="display: block;"></i>
        Buscar
      </a>
    </li>
    <li class="nav-item zoom">
      <a class="nav-link" routerLink="/eventos" routerLinkActive="active">
        <i class="bi bi-calendar4-event navbar-icon " style="display: block;" ></i>
        Eventos
      </a>
    </li>
        <li class="nav-item zoom" >
          <a class="nav-link  " routerLink="/info" routerLinkActive="active">
            <i class="bi bi-info-circle navbar-icon" style="display: block;"></i>
            Info
          </a>
        </li>
  </ul>
</nav>
<router-outlet></router-outlet>