<div class="titulo-padre bg-light-green">
    <div class="contenedor-padre d-flex justify-content-center align-items-center">
        <img src="assets/icons/logo.png" alt="Comerciantes Restrepo" class="img-fluid logo">
        <div class="titulo-padre flex-column align-items-center">
            <h1 class="titulotext mb-0">Yo Compro</h1>
            <h1 class="titulotext">En Restrepo</h1>
        </div>
    </div>

    <div class="cont">
        <div class="container ">
            <!--AVISO-->
            <button class="btn boton-aviso" [@fade] (click)="requestPermission()" *ngIf="!botonClicado">
                <i class="bi bi-bell"></i> Por favor, para enviarte actualizaciones e información importante activa las
                notificaciones presionando click aquí
            </button>

            <!--TITULO-->
            <div class="carousel-title text-center" [@fade]
                style="display: flex; align-items: center; justify-content: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/1968/1968790.png" alt="Icono eventos proximos "
                    style="height: 60px; margin-right: 10px;">
                <h1 [@fade] style="text-align: center; margin: 0; font-size: 2rem; line-height: 1.2;">
                    Eventos <br>
                    próximos
                </h1>
            </div>
            <hr class="separador">

            <!--CAROUSEL-->

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner slide zoom2">
                    <div class="carousel-item " (click)="goToDetailEventos(item.id)"
                        *ngFor="let item of eventos; let i = index" [class.active]="i === 0" [@fade]>
                        <img src="{{item.imagen}}" alt="{{item.nombre}}" class="zoom">
                        <div class="carousel-caption">
                            <h6>{{item.nombre}}</h6>
                            <p>{{item.fecha}}</p>
                        </div>
                    </div>

                </div>
                <ol class="carousel-indicators">
                    <li *ngFor="let item of eventos; let i = index" [attr.data-bs-target]="'#myCarousel'"
                        [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
                </ol>
                <a class="carousel-control-prev zoom3" href="#myCarousel" role="button" data-bs-slide="prev">
                    <span class="bi bi-chevron-compact-left"></span>
                    <span class="visually-hidden">Previo</span>
                </a>
                <a class="carousel-control-next zoom3" href="#myCarousel" role="button" data-bs-slide="next">
                    <span class="bi bi-chevron-compact-right"></span>
                    <span class="visually-hidden">Siguiente</span>
                </a>
            </div>



            <!--Titulo-->

            <div class="carousel-title text-center " [@fade] style="margin-top: 40px;">
                <img src="https://cdn-icons-png.flaticon.com/512/869/869687.png" alt="Icono subtitulo nuestras marcas"
                    style="height: 60px; margin-right: 10px;">
                <h1 [@fade] style="text-align: center; margin: 0; font-size: 2rem; line-height: 1.2; margin-top: 20px;">
                    Nuestras <br>
                    Marcas
                </h1>

            </div>
            <hr class="separador">

            


            <!--Categorias-->
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card-group container-fluid ">
                        <div class="cardCat zoom6 " [ngClass]="{'active': categoriaActiva === -1}"
                            (click)="setCategoriaActiva(-1); buscarEventos('')">
                            <div class="cardCat-body">
                                <p class="cardCat-text"><i class="fas fa-shopping-cart"></i> </p>
                                <h5 class="cardCat-title" [ngClass]="{'active': categoriaActiva === -1}">Ver Todos</h5>
                            </div>
                        </div>
                        <div class="cardCat zoom6" *ngFor="let categoria of categorias; let i = index"
                            [ngClass]="{'active': categoriaActiva === i}"
                            (click)="setCategoriaActiva(i); buscarEventos(categoria.nombre)">
                            <div class="cardCat-body">
                                <i class="{{ categoria.icono }} cardCat-text" [style.color]="categoria.color"
                                    [ngClass]="{'active': categoriaActiva === i}"></i>
                                <h6 class="cardCat-title" [ngClass]="{'active': categoriaActiva === i}">{{
                                    categoria.nombre }}</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!--MARCAS-->

            <div class="container-fluid">
                <div class="row flex-wrap justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3" *ngFor="let negocio of negocios" [@fade]>
                        <div class="card border-0 h-100 zoom4">
                            <div class="d-flex contentCard" (click)="goToDetailNegocios(negocio.id)" >
                                <div>
                                    <img src={{negocio.logo}} class="card-img-top" alt={{negocio.nombre}}>
                                </div>
                                <div class="ml-3 d-flex flex-column flex-grow-1">
                                    <h1 class="card-title" >
                                        <i class="bi bi-shop"></i> {{negocio.nombre}}
                                    </h1>
                                    <p class="card-text fs-7" style="color: #666;">
                                        <i class="bi bi-geo-alt-fill"></i> {{negocio.direccion}}
                                    </p>
                                    <div class="botones">
                                        <a href="tel:{{negocio.telefono1}}" target="_blank"
                                            class="btn btn-primary zoom6 botonesCard "
                                            style="margin-right: 1em; max-height: 3.3em; width: 7em;">
                                            <i class="bi bi-telephone"></i>
                                            <p class="textCard">Llamar</p>
                                        </a>
                                        <a href="https://wa.me/{{negocio.whatsapp1}}" target="_blank"
                                            class="btn btn-success zoom6 botonesCard"
                                            style="max-height: 3.3em; width: 7em;">
                                            <i class="bi bi-whatsapp "></i>
                                            <p class="textCard">WhatsApp</p>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

<footer class="footer" style="opacity: 0.8; text-align: center;">
    <div class="footer-content">
        <div>Comunicate con nosotros si tienes dudas o quieres aparecer aquí</div>
        <div class="footer-buttons">
            <a href="mailto:info@yocomproenrestrepo.com" class="btn btn btn-outline-dark mr-3"><i class="fa-regular fa-envelope fa-beat"></i></a>
            <a href="https://wa.me/+573167421690" class="btn btn btn-outline-dark" style="margin-left: 1em;"><i class="fa-brands fa-whatsapp fa-beat-fade"></i></a>
        </div>
    </div>
    <div class="footer-copy">
        <p>&copy; 2023 Todos los derechos reservados v0.9.5</p>
    </div>
</footer>


            <hr style="color: white;">
            <hr style="color: white;">
            <hr style="color: white;">
            <hr style="color: white;">
        </div>
    </div>
</div>