/* Contenedor verde */
.cont {
    width: 100%;
    background-color: #f4f4f4;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    position: relative;
    z-index: 2;
    overflow-y: auto;
    max-width: max-content;
    font-family: 'Signika Negative';
}

/* CONTENEDOR BLANCO */
.container {
    max-width: 100%;
    margin: 0
}

/*LOGO Y TITULO DE LA PAGINA */
.titulotext {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    max-width: 120px;
}

.bg-light-green {
    background-color: #1606f3;

}


.separador {
    border: none;
    height: 3px;
    margin: 10px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0));
    border-radius: 50%;

}

.boton-aviso {
    display: block;
    margin: 0 auto;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-color: #dc3545;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;

}


.carousel-caption {
    bottom: 0;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.623);
    color: #ffffff;
    left: 0%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    right: 0%;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#myCarousel {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
}

@media (max-width: 700px) {

    .carousel-item img {
        height: 300px;
        width: 100%;
        max-width: 100%;

    }

    .carousel-inner img {
        max-width: 100%;

    }

    #myCarousel {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 98%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {

    #myCarousel {

        width: 90%;
        height: 300px;

    }

    .carousel-item img {
        height: 350px;
        width: 100%;
        max-width: 100%;

    }

    .carousel-inner img {
        max-width: 100%;

    }
}

.zoom {
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.zoom6 {
    transition: transform 0.5s ease;
}

.zoom6:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zoom2:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.342);
}

.carousel-caption h6 {
    margin-top: 1em;
    font-size: 1.0rem;
}

.carousel-caption p {
    font-size: 1rem;
    margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
    top: 40%;
    width: 80px;
    height: 80px;
    font-size: 3.5rem;
    color: #b9b9b9;
    opacity: 100%;
}

.zoom3 {
    transition: transform 0.5s ease;
}

.zoom3:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #888787;

}

.zoom4 {
    transition: transform 0.5s ease;
}

.zoom4:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
    cursor: pointer;
    color: #888787;

}

.carousel-indicators {
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.carousel-indicators li {
    width: 1.0rem;
    /* ajusta el tamaño de los indicadores */
    height: 1.0rem;
    margin: 0 8px;
    /* ajusta la separación entre los indicadores */
    border-radius: 50%;
    background-color: rgb(133, 133, 134);
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: #f30606;
}

.card-img-top {
    /*object-fit: cover;   Cambiar aqui para que se vean los logos cortados pero bien dimensionados*/
    width: 12em;
    height: 12em;
    /* establecer un ancho fijo para la imagen */
}

.card {
    background-color: #ffffff;

}

.card-title {
    font-weight: bold;
    font-size: large;
    padding: 10px 10px 10px 10px;
}

.card-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin-bottom: 3em;
    padding-bottom: 10px;
}

.cardCat {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.cardCat:last-child {
    margin-right: 0;
}

.cardCat {
    cursor: pointer;
    text-align: center;
    display: flex;
    border-radius: 8px;
    background: #fff;
    align-items: center;
    max-width: 11em;
    height: 11em;

}

.cardCat-body {

    padding: 10px;
    overflow: hidden;
}


.cardCat-title {
    margin: 10px;
    padding: 0;
}

.cardCat-text {
    font-size: 2.0em;
    margin-top: 20px;

}

.cardCat.active {
    background-color: rgba(9, 134, 30, 0.897);
    color: rgb(0, 0, 0);

}

.cardCat-text.active {
    color: rgb(255, 255, 255);
}

.cardCat-title.active {
    color: rgb(255, 255, 255);
}


.container-fluid {
    max-width: 80%;
    min-width: 10em;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    object-fit: cover;
}


.contentCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    object-fit: cover;
}

.botones {
    padding: 10px 10px 10px 10px;
}

@media (max-width: 800px) {
    .container-fluid {
        max-width: 100%;
        margin-right: 0;
        /* otros estilos */
    }
}

@media (max-width: 427px) {

    .botonesCard {
        max-width: 3em;
        max-height: 4em;
        margin-right: 0;

    }

    .textCard {
        display: none;
    }

    .d-flex {
        align-items: start;
    }
}

@media (max-width: 600px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        /* otros estilos */
    }

    .container-fluid {
        padding-left: 0.5;
        padding-right: 0.5;
    }

    .card-text {

        padding-left: 10px;
    }

    .card-img-top {
        width: 12em;
        height: 12em;
        margin-right: 1em;
        /* establecer un ancho fijo para la imagen */
    }

    .contentCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        object-fit: cover;
    }
}