.bg-light-green {
    background: linear-gradient(to right, #e7eb22, #2bbb1e);


}

.container-fluid.titulo {
    max-width: 100%;
    width: 100%;
    height: 10em;
    position: sticky;
    top: 0;
    display: block;
    z-index: -1;
}



.cont {
    width: 100%;
    background-color: #f4f4f4;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    position: relative;
    z-index: 2;
    overflow-y: auto;
    max-width: max-content;
}

.container {
    max-width: 100%;
    margin: 0
}

.btn {
    font-family: 'Signika Negative';
}

.titulotext.mb-0 {
    font-family: 'Signika Negative';
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

}

.titulotext {
    font-family: 'Signika Negative';
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    max-width: 120px;
}


.separador {
    border: none;
    height: 3px;
    margin: 10px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0));
    border-radius: 50%;

}

.boton-aviso {
    display: block;
    margin: 0 auto;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-color: #dc3545;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;

}

.carousel-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 15px;

}

.carousel-title img {
    height: 100px;
    margin-right: 30px;
}

.carousel-title span {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 10px;

}

.carousel-title h1 {
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
}

.carousel-title h1 small {
    font-size: 1.5rem;

}

.carousel-title hr {
    border-top: 1px solid #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.carousel-title {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-item {
    box-shadow: 0px 0px 5px rgb(170, 156, 156);
}

.carousel-inner {
    box-shadow: 0px 0px 5px rgb(170,
            156,
            156);
}

.carousel-caption {
    bottom: 0;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.623);
    color: #ffffff;
    left: 0%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    right: 0%;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}



#myCarousel {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.carousel {
    margin-bottom: 1rem;
}

@media (max-width: 700px) {

    /* ajustar el ancho máximo para dispositivos móviles */
    .carousel-item img {
        height: 300px;
        width: 100%;
        max-width: 100%;
        /* ajusta la altura deseada */

    }


    .carousel-inner img {
        max-width: 100%;

    }

    #myCarousel {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 98%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}


@media (min-width: 700px) and (max-width: 1000px) {

    #myCarousel {

        width: 90%;
        height: 300px;

    }

    .carousel-item img {
        height: 350px;
        width: 100%;
        max-width: 100%;
        /* ajusta la altura deseada */

    }


    .carousel-inner img {
        max-width: 100%;

    }
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: 0s;
}

.zoom {
    transition: transform 0.5s ease;
}

.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

.zoom6 {
    transition: transform 0.5s ease;
}

.zoom6:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zoom2:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.342);
}

.carousel-caption h6 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.carousel-caption p {
    font-size: 1rem;
    margin-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 40%;
    width: 80px;
    height: 80px;
    font-size: 5.5rem;
    color: #b9b9b9;
    line-height: 9.15;
    opacity: 100%;
}

.zoom3 {
    transition: transform 0.5s ease;
}

.zoom3:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #888787;

}

.zoom4 {
    transition: transform 0.5s ease;
}

.zoom4:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.205);
    cursor: pointer;
    color: #888787;

}

.carousel-indicators {
    position: absolute;
    bottom: -45px;
    /* ajusta la distancia entre los indicadores y el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

.carousel-indicators li {
    width: 1.0rem;
    /* ajusta el tamaño de los indicadores */
    height: 1.0rem;
    margin: 0 8px;
    /* ajusta la separación entre los indicadores */
    border-radius: 50%;
    background-color: rgb(133, 133, 134);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators li.active {
    background-color: #f30606;
}

h1 {
    margin-top: 10;
    margin-bottom: 0px;
    padding-top: 0;
}

.card-text {
    font-family: 'Signika Negative';
}

.card-title {
    font-family: 'Signika Negative';
    font-weight: bold;
}

.card-img-top {
    /*object-fit: cover;   Cambiar aqui para que se vean los logos cortados pero bien dimensionados*/
    max-width: 12em;
    max-height: 12em;
    /* establecer un ancho fijo para la imagen */
}

.card {
    background-color: #ffffff;

}

.card-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin-bottom: 3em;
}

.cardCat {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.cardCat:last-child {
    margin-right: 0;
}

.cardCat {
    cursor: pointer;
    text-align: center;
    display: flex;
    border-radius: 8px;
    background: #fff;
    align-items: center;
    max-width: 11em;
    height: 11em;

}

.cardCat-body {

    padding: 10px;
    overflow: hidden;
}


.cardCat-title {
    font-size: 1.0rem;
    color: #000000;
    text-align: center;
    margin: 10px;
    padding: 0;
    font-family: 'Signika Negative';
    letter-spacing: 1px;
}

.cardCat-text {
    font-size: 2.0em;
    margin-top: 20px;


}

.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center;
}

.container-fluid {
    max-width: 80%;
    min-width: 10em;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    object-fit: cover;
}


.contentCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    object-fit: cover;
}

@media (max-width: 800px) {
    .container-fluid {
        max-width: 100%;
        margin-right: 0;
        /* otros estilos */
    }
}

@media (max-width: 427px) {

    .botonesCard{
        max-width: 3em;
        max-height: 4em;
        margin-right: 0;
       
    }

    .textCard{
        display: none;
    }

    .d-flex{
        align-items: start;
    }
}

@media (max-width: 600px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        /* otros estilos */
    }

    .container-fluid {
        padding-left: 0.5;
        padding-right: 0.5;
    }

    .card-img-top {
        max-width: 9em;
        height: 9em;
        margin-right: 1em;
        /* establecer un ancho fijo para la imagen */
    }

    .contentCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        object-fit: cover;
    }
}

.cardCat.active {
    background-color: rgba(9, 134, 30, 0.897);
    color: rgb(0, 0, 0);

}

.cardCat-text.active {
    color: rgb(255, 255, 255);
}

.cardCat-title.active {
    color: rgb(255, 255, 255);
}


