<div class="container" [@fade]>
    <div class="carousel-title text-center" [@fade] style="display: flex; align-items: center; justify-content: center;">
        <img src="https://cdn-icons-png.flaticon.com/512/3656/3656889.png" style="height: 60px; margin-right: 10px;">
        <h1 [@fade] style="text-align: center; margin: 0; font-size: 2rem; line-height: 1.2;">
            Lista de Eventos
        </h1>
    </div>
    <hr class="separador">


<div style="text-align: center;">
    <div class="search-container"
        style="background-color: rgba(62, 63, 63, 0.164); display: inline-flex; margin: 0 auto; padding: 10px;">
        <div class="search-buttons">
            <button class="btn btn-traer zoom btn-s" (click)="verTodos()">Traer todos</button>
        </div>

        <div class="search-bar zoom3">
            <input type="text" placeholder="¿Buscas algo?" [(ngModel)]="busqueda"
                (ngModelChange)="buscarEventos()" />
        </div>
        <i class="bi bi-search zoom2" (click)="buscarEventos()"></i>
    </div>
</div>


    <p class="textoSearch" style="text-align: center; margin-top: 10px;">Puedes ingresar una palabra, frase, nombre o lo
        que
        sea que estés buscando!</p>


    <div class="card-list">
        <div class="card" (click)="goToDetailEventos(evento.id)" *ngFor="let evento of eventos">
            <div class="card-header">
                <img class="logo" [src]="evento.imagen" alt="Logo de {{evento.nombre}}" />
                <h2 class="nombre">{{evento.nombre}}</h2>
            </div>
            <div class="card-body">
                <p class="descripcion">{{evento.descripcion}}</p>
            </div>
            <div class="card-footer">
                {{evento.lugar}}
                <span class="icono"><i class="bi bi-pin-map-fill"></i></span>
            </div>
        </div>
    </div>
</div>


<hr style="color: white;">
<hr style="color: white;">
<hr style="color: white;">
<hr style="color: white;">