<div class="modal" tabindex="-1" id="myModal" aria-labelledby="myModalLabel" aria-hidden="true"
    (hidden.bs.modal)="closeModalAndSetFlag()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Instala nuestra aplicación en tu dispositivo</h3>


            </div>
            <button class="install-button" (click)="onInstallButtonClick()">
                <i class="fa-solid fa-hand-point-right fa-beat" style="margin-right: 1em;"></i> Instalar aplicación Android / PC<i class="fa-solid fa-hand-point-left fa-beat" style="margin-left: 1em;"></i>
            </button>
            <div class="modal-body">
                <p>Debes ingresar a nuestra aplicacion usando Chrome en Android o Safari en iOs para poder instalarla</p>
                <div class="install-section">
                    <div class="device-columns row">
                        <div class="device-column col-12 android">
                            <div class="d-flex flex-column align-items-center">
                                <i class="fa-brands fa-android"></i>
                                <h4>Android</h4>
                                <img src="assets/pwa-and.png" style="height: 5em" alt="Android"
                                    class="device-image img-fluid">
                            </div>
                            <hr class="separador">
                        </div>
                        <div class="device-column col-12 ios">
                            <div class="d-flex flex-column align-items-center">
                                <i class="fa-brands fa-apple"></i>
                                <h4>iPhone</h4>
                                <p>Debes agregar la aplicación a la pantalla principal <i class="fa-solid fa-hand-point-down fa-beat"></i></p>
                                <img src="assets/pwa-iph.jpg" alt="iPhone" class="device-image img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeModalAndSetFlag()">Cerrar</button>
            </div>
        </div>
    </div>
</div>